<footer>
    <div class="footer-wrapper">

        <a href="{{ path('home') }}" class="nav-branding">
            <img src="" alt="Logo">
        </a>

        <p>Rejoins-nous sur les réseaux !</p>

        <div class="socialmedia">
            <img src="">
            <img src="">
            <img src="">
        </div>
    </div>
    <p>Copyright 2024</p>

</footer>