{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}

{% block body %}
    <h1> Tu affiches à présent la page Habitats </h1>

    <main>
        <section class="bloc One">
            <h2>H2 Titre</h2>
            <img src="" alt="Savane"></img>
        </section>
        <section class="hide">
            <p>Présentation</p>
            <p>Les animaux :</p>
            <ul>
                <li>Lion</li>
                <li>Tigre</li>
                <li>Elephant</li>
            </ul>
        </section>

    </main>

{% endblock %}