{% extends 'base.html.twig' %}

{% block title %} Index {% endblock %}

{% block body %}
    <h1> Tu affiches à présent la page d'accueil </h1>

    <main>
        <section class="bloc One">
            <h2>H2 Présentation</h2>
            <p>Paragraphe</p>
            <img src="" alt="Présentation du Zoo"></img>
        </section>

        <section class="bloc Two">
            <h2>H2</h2>
            <article>
                <h3>H3</h3>
                <img src="" alt="Savane"></img>
                <p>Paragraphe</p>
            </article>
            <article>
                <h3>H3</h3>
                <img src="" alt="Jungle"></img>
                <p>Paragraphe</p>
            </article>
            <article>
                <h3>H3</h3>
                <img src="" alt="Arctique"></img>
                <p>Paragraphe</p>
            </article>
        </section>

        <section class="bloc Three">
            <h2>H3 Services</h2>
            <p>Paragraphe</p>
            <img src="" alt="Voici les services que proposent notre Zoo."></img>
        </section>

        <section class="bloc Four">
            <h2>H2</h2>
            <article>
                <h3>H3</h3>
                <img src="" alt="Animal de la Savane"></img>
                <p>Paragraphe</p>
            </article>
            <article>
                <h3>H3</h3>
                <img src="" alt="Animal de la Jungle"></img>
                <p>Paragraphe</p>
            </article>
            <article>
                <h3>H3</h3>
                <img src="" alt="Animal de l'Arctique"></img>
                <p>Paragraphe</p>
            </article>
        </section>

        <section class="bloc Five">
            <div class="five-upper">
                <img src="" alt="Stars"></img>
                <h4>H4 Titre</h4>
            </div>
            <div class="dive-downer">
                <p>Commentaire</p>
                <p>Signature</p>
            </div>
        </section>


    </main>
{% endblock %}