{% extends 'base.html.twig' %}

{% block title %} Services {% endblock %}

{% block body %}
    <h1> Tu affiches à présent la page Services </h1>
    <main>
        <section class="bloc One">
            <h2>H2 Présentation</h2>
            <p>Paragraphe</p>
            <img src="" alt="Visites guidées"></img>
        </section>
                <section class="bloc Two">
            <h2>H2 Présentation</h2>
            <p>Paragraphe</p>
            <img src="" alt="Visites en train"></img>
        </section>
                <section class="bloc Three">
            <h2>H2 Présentation</h2>
            <p>Paragraphe</p>
            <img src="" alt="Restauration"></img>
        </section>
    </main>
{% endblock %}